body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#selected{
  padding:10px 0;
}

.image{
  width:150px;
  margin-right: 20px;
  margin-bottom:20px;
}
